body{
    background-color: #e4f9f5;
    text-align: center;
    font-family: 'Merriweather', serif;
    margin-bottom: 0px;
    padding-bottom: 0;
    color: #40514e;
}
h1{
    font-family: 'Sacramento', cursive;
    padding-top: 100px;
    width: 30%;
    margin:0 auto;
    font-size: 90px;
}

.name{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: auto;
   margin-bottom: 0;
    transition: color .5s;
    color:#11999e;
}

/* .name:hover{
    color:#11999e;
} */

p{
    font-family: 'Montserrat', sans-serif;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute; 
    top:200px;
    left:300px;
}

hr{
    border-style: dotted none none none;
    border-width: 5px;
    color: #40514e;
    width: 15%;;
}

.skill-row{
    display: inline-block;
    width: 300px;
    transition:box-shadow .5s;
    border-radius: 20px;
    margin:0 4px;
}

.skill-row:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(48,227,202,0.75);
}

.skill-img{
    padding-top: 6px;
    height:100px;
    width:100px;
    transition: all .5s;
}

.skill-img:hover{
    height: 150px;
    width: 150px;
}

.ending{
    height: auto;
    display: inline-block;
    margin: 12px auto 4px auto;
    width:75%;
    background-color: rgba(48,227,202,0.25);
    border-radius: 4px;
    /* padding-bottom: 4px; */
}

.ending:hover{
    background-color: rgba(48,227,202,0.50);
}

h3,h2{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 2.5rem;
}

h1,h2{
    color: #66BFBF;
}
h3,a{
    color:  #11999E;
}
h2{
    font-weight: normal;
}
span:hover{
font-weight: bolder;
font-style: italic;
}

.button{
    height: 20px;
    width: 120px;
    border-radius: 10px;
    background-color: rgba(17,153,158,1);
    margin:0 auto 20px auto;
}
.contact{
    padding-left: 2px;
    color: #e4f9f5;
    font-family:Montserrat ;
}